Remote/**/Debug
Remote/**/Release
Visualizer/**/Debug
Visualizer/**/Release
**/.vs
**/*.opendb
**/*.aps
**/*.suo
**/*.db
vis_milk2/bin
/Milkwave.slnLaunch.user
/Visualizer/vis_milk2/log
/Install/_Archiv
/Build/roadmap.md
*.exe
/Install/*.zip
/.gitattributes
/.idea/.idea.Milkwave/.idea
/Remote/.idea/.idea.Remote.dir/.idea
/Install/sign.cmd
/Build/notes.md
/Build/*.bak
/Release/*
!/Release/Developer*.*
/MilkwaveRemoteTests/bin
/MilkwaveRemoteTests/obj
/RemoteTests/bin
/RemoteTests/obj
/packages
enc_temp_folder/
/Build/plan*.md
/Build/*issues*.md

Remote/MilkwaveRemote.csproj.lscache
